.about-container {
    position: relative;
    color:black; /* Set text color to white */
    text-align: center;
    overflow: hidden; /* Hide overflowing content */
    top:-1300px;
    border-radius: 40px; /* Adjust the value to control the roundness of the corners */
    box-shadow: 5px 5px 10px rgba(10, 10, 10, 10);
    background-image: url('../assets/bg.jpg');
    background-size: cover;
   }
  
  .about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;;
    font-size: 3.2rem;
    font-family: 'Roca';

     /* Adjust title font size */
  }
  
  .about-body {
    justify-content: center;
    align-items: center;
    font-size: 2.7rem; /* Adjust body text font size */
    top:-100px;
  }
  

/* Apply responsive styles for smaller screens */
@media (max-width: 768px) {
  .about-container {
      border-radius: 0; /* Remove border-radius for smaller screens */
  }
  
  .about-title {
      font-size: 2.5rem; /* Decrease the title font size */
  }
  
  .about-body {
      font-size: 2rem; /* Decrease the body text font size */
      margin-top: 10px; /* Adjust the margin as needed */
  }
}

/* Apply additional responsive styles for even smaller screens if needed */
@media (max-width: 480px) {
  .about-title {
      font-size: 2rem; /* Further decrease the title font size */
  }
  
  .about-body {
      font-size: 1.8rem; /* Further decrease the body text font size */
      margin-top: 5px; /* Further adjust the margin as needed */
  }
}