.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     text-align: center;
     margin-top:-800px;
  }
  
  .imagee {
    margin: 40px; /* Adjust spacing between items */
  }

  .imagee h1{
    font-size: 7rem;
    margin-left:2rem;
    font-family: 'Roca';
     
  }

  .imagee p{
    font-size: 4rem;
    font-weight:bold 16px;
    text-align: center;
  }
  
  .event-image {
    align-items: center;
    width: 200px; /* Set a width for your images (customize as needed) */
    height: 200px; /* Set a height for your images (customize as needed) */
    border: 2px solid #fff; /* Add a border around the image container */
  }
  

  .event-image1{
    background-image:url('../assets/teachersday.jpg');
    background-size: cover;
    width:1800px;
    height:850px;
    margin-left:50rem; /* Background color for the first box */
  }

  .event-image2{
    background-image:url('../assets/talenthunt.jpg');
    background-size: cover;
    width:1800px;
    height:850px;
    margin-left:50rem; /* Background color for the first box */
  }

  .event-image3{
    background-image:url('../assets/workshop.jpg');
    background-size: cover;
    width:1800px;
    height:850px;
    margin-left:50rem; /* Background color for the first box */
  }
   
  