.image-of-nn {
    display: flex;
    justify-content: flex-end; 
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.7), transparent),
                    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8aImPb6EU7nZTLxINstSzK5_ezabi8DMZvw&usqp=CAU);
     background-size: cover; /* Adjust the sizing of the background image as needed */
    /* Align the image to the right */
     }
  
  
 