.text-container-2 {
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: center; /* Vertically center the text */
    margin-left: 250px;
    margin-top: -320px;
    
   }
  
  .text-content-2 {
     font-size: 170px;
     font-family: 'Roca';
     color:#060070;
     font-weight:bold 19px; /* Adjust padding as needed */
  }
  