 


.team-container {
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: center; /* Vertically center the text */
    margin-left: 230px;
    margin-top:140px;
     
    
   }
  
  .team-text {
     font-size: 250px;
     padding:70px;
     padding-right:-40px;
     font-family: 'Roca';
     color:#060070;


    
  }
  